.container{
    margin: 20px 20px 10px 0;
    padding: 25px 15px;
    background: #fff;
    font-family: 'Alice', serif;
    text-align: center;
}

.aboutContent{
    padding: 30px 15px;
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.aboutContent p{
    width: 40%;
    line-height: 150%;
}

.container img{
    width: 90%;
}

.container img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }